.cardmission {
    min-height: 20vh;
    width: 100%;
    padding: 2vh 0;
    margin-bottom: 15vh;
    display: flex;
    border-radius: 12px;
    box-shadow: 4px 5px 10px #222;
}

.cardmission img {
    height: 36vh;
    width: 60%;
    border-radius: 12px;
    margin: 0 2vh;
}

.cardmission .text {
    height: 36vh;
    width: 100%;
    margin: 0 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardmission:nth-child(3) {
    flex-direction: row-reverse;
}

.cardmission:nth-child(5) {
    flex-direction: row-reverse;
}

@media(max-width:1000px) {
    .cardmission img {
        width: 50%;
    }
}


@media(max-width:850px) {
    .cardmission {
        flex-direction: column;
        align-items: center;
        padding: 2vh 5vh;
    }

    .cardmission .text {
        text-align: center;
        height: 30vh;
    }
    .cardmission img{
        width: 80%;
        height: 30vh;
    }
    .cardmission:nth-child(3) {
        flex-direction: column;
    }
    .cardmission:nth-child(5) {
        flex-direction: column;
    }
}

@media(max-width:600px){
    .cardmission img{
        width: 100%;
        height: 25vh;
       
    }
    .cardmission{
        padding: 2vh;
    }
    .cardmission .text{
        height: 25vh;
    }
    .cardmission .text h1{
        font-size: 2.5rem;
    }
    .cardmission .text p{
        font-size: 1rem;
    }
}

@media(min-height:1200px){
    .cardmission img{
        width: 250px;
        height: 25vh;
    }
    .cardmission .text{
        height: 25vh;
    }
   
    
}