.aboutHeading{
    height: 35vh;
    width: 100%;
    display: flex;
    margin-bottom: 15vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('	https://lucknowkabadiwala.online/frontend_assets/images/pagetitle-bg.jpg');
}
.aboutHeading h1{
    font-size: 3rem;
    color: white;
    font-family: sans-serif;
}
@media(max-width:850px){
    .aboutHeading{
        margin-bottom: 5vh;
    }
}