.section3{
    min-height: 35vh;
    padding: 0 10vh;
    width: 100%;
    margin: 20vh 0;
    display: flex;
    justify-content: space-between;
  }
  @keyframes borderAnimation {
    0% {
      border-color: black;
      border-width: 2px;
    }
    50% {
      border-color: green;
      border-width: 4px;
    }
    100% {
      border-color: black;
      border-width: 2px;
    }
  }
  .section3 .card {
    min-height: 35vh;
    width: 19vw;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 2vh;
    overflow: hidden; 
  }
  
  .section3 .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px; 
        border: 2px solid transparent;
    background: linear-gradient(45deg, rgb(1, 44, 23), rgb(3, 161, 3));
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none; 
    animation: borderAnimation 2s infinite; 
  }
  
  .section3 .card h1{
    font-size: 1.5rem;
    text-align: center;
    color:  rgb(18, 62, 47);
  }
  .section3 .card p{
    text-align: center;
    margin-top: 3vh;
    font-size: 0.9rem;
    width: 15vw;
  }
  .section3 .card a{
    margin-top: 3vh;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    width: 15vw;
  }
  
@media(max-width:1100px){
  .section3{
    padding: 0vh;
  }

}
@media(max-width:860px){
  .section3 .card{
    width: 23vw;
  }
  .section3 .card{
    width: 200px;
  }
  .section3 .card p{
    
    width: 90%;
  }
  .section3 .card a{
    
    width: 90%;
  }
}
@media(max-width:700px){
  .section3{
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding: 0;
  }
  .section3 .card{
    width: 250px;
  }
  .section3 .card p{
    
    width: 90%;
  }
  .section3 .card a{
    
    width: 90%;
  }
}