main{
  background-image: url('../../assets/kabad2.png');
  background-size: 100% 85vh;
  background-repeat: no-repeat;
  padding: 5vh 26vh 0;
} 

.section1{
    min-height: 40vh;
    width: 100%;
    padding:0vh 22vh 0 22vh;
    margin-top: 15vh;
    text-align: center;
    margin-bottom: 25vh;
    overflow: hidden;
  }
  .section1 h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2vh
  }
  .section1 h1{
    font-size: 4.5rem;
    margin-bottom: 2vh;
    color: #222 ;
  }
  .section1 h4{
    font-size: 1rem;
    line-height: 22px;
    font-weight: 500;
  }
  .section1 button{
    min-height: 9vh;
    background-color: #087373;
    width: 212px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 4vh 0vh;
    color: white;
  }
  .pickupform{
    min-height: 80vh;
    position: absolute;
    width: 80vw;
   padding: 5vh 10vh;
    background-color: white;
    border-radius: 10px;
  }
   .pickupform h2{
    padding: 3vh 5vh;
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5vh;
   
}
.pickupform .input{
  display: flex;
}
 .pickupform input{
    padding: 1.5vh 2vh;
    font-size: 1.3rem;
    margin-left:1vw ;
    border: 1px solid #666;
    font-family: sans-serif;
    border-radius: 10px;
    margin-bottom: 4vh;
    color: #666;
}
.pickupform .input select{
  border :1px solid #666;
  border-radius: 10px;
   margin-left:1vw ;
   min-width: 90%;
}

  
@media(max-width:1300px){
  main{
    padding: 5vh 15vh 0 15vh;
  }
  .section2{
    padding: 0vh 15vh;
  }
}

@media(max-width :1140px){
  .section1{
    padding: 0;
  }
}

@media(max-width:860px){
  main{
    padding: 5vh  5vh 0 5vh;
  }
}

@media(max-width:500px){
  .section1{
    margin-bottom: 15vh;
  }
  .section1 h3{
    font-size: 1.5rem;
   }
  .section1 h1{
    font-size: 2.7rem;
   
  }
  .section1 h4{
    font-size: 0.9rem;
  }
  .section1 button{
    width: 180px;
    font-size: 2rem;
    height: 6vh;
  }
  .pickupform{
    width: 90vw;
    left: 2vh;
    padding: 5vh 0vh;
  }
  .pickupform h2{
    padding: 3vh 0vh;
  }
  .pickupform input{
    width: 100%;
    margin-left: 0;
  }
  .pickupform .input select{
    width: 100%;
    margin-bottom: 5vh;
  }
  .pickupform #input{
    flex-direction: column;
  }
  
}

@media(max-width:410px){
  main{
    padding: 5vh 2vh 0vh 2vh;
  }
  .section1{
    margin-bottom: 1vh;
  }
} 